# CORRECTION TP4A : Les listes Python

**Définition :** Les listes font partie de ce qu'on appelle les *types de données construites* (nous verrons plus tard les *tuples* et les *dictionnaires*). Elles permettent de regrouper de manière structurée des ensembles de valeurs.
On les appelle *listes* en Python, ou bien *tableaux* de manière plus générale.


**Notation :** dans une liste, les éléments sont séparés par des **virgules**, et l'ensemble est délimité par des **crochets**.

In [1]:
ma_premiere_liste = [1, "ok", True]
print(ma_premiere_liste)
print(type(ma_premiere_liste))

[1, 'ok', True]
<class 'list'>

Même si cela n'a ici un grand intérêt, les éléments d'une liste peuvent donc être de types différents : ici, nous avons successivement un entier (`int`), une chaine de caractères (`str`), et un booléen (`bool`).

 ## Accès aux éléments d'une liste
 On accède à un élément d'une liste en mettant entre crochets l'indice de l'élémént (qui commence à **zéro**).

In [2]:
famille = ["Bart", "Lisa", "Maggie"]

In [3]:
famille[0]

'Bart'

In [4]:
famille[1]

'Lisa'

Un indice qui dépasse la valeur  `longueur de la liste -1` provoquera une erreur `list index out of range`.

In [5]:
famille[3]

IndexError: list index out of range

Il est par contre possible d'utiliser des indices **négatifs** :

In [6]:
famille[-1]

'Maggie'

In [7]:
famille[-2]

'Lisa'

## Longueur d'une liste
La longueur d'une liste sera donnée par la fonction `len()`

In [8]:
len(famille)

3

In [9]:
n=len(famille)
famille[n-1]

'Maggie'

Attention : le dernier élément de la liste a donc l'indice `len(liste)-1`

## Parcours des éléments d'une liste

In [10]:
n = len(famille)
for k in range(n):
    print(famille[k])

Bart
Lisa
Maggie

**Remarque :** nous avons déjà vu une méthode plus directe de parcours d'une liste :

In [11]:
for personne in famille :  # <- beaucoup plus efficace !
    print(personne)

Bart
Lisa
Maggie

## Les éléments d'une liste sont MODIFIABLES.
C'est une différence fondamentale avec une autre structure (les *tuples*) que nous verrons plus tard.

In [12]:
famille[0] = "Milhouse"

In [13]:
famille

['Milhouse', 'Lisa', 'Maggie']

On dit que les listes sont des objets **mutables**.

## Ajout d'un élement à une liste : méthode **append()**

In [14]:
famille.append("Bart")

In [15]:
famille

['Milhouse', 'Lisa', 'Maggie', 'Bart']

In [16]:
len(famille)

4

La méthode `append()` rajoute donc un élément **à la fin** de la liste.

## Liste vide
Très souvent, la méthode `append()` ci-dessus est utilisée à partir d'une liste vide `[]`, à laquelle on rajoute peu à peu des éléments.

####  Exemple
Filtrons la liste m ci-dessous pour n'en garder que les éléments strictements supérieurs à 20.

In [17]:
m = [45, 12, 15, 20, 18, 19, 23, 17, 12, 18]
p = []

for elt in m :
    if elt > 20:
        p.append(elt)
print(p)

[45, 23]

## Suppression d'un élément d'une liste ...
### ... par la méthode remove() :

In [18]:
famille.append('Lisa')
print(famille)

['Milhouse', 'Lisa', 'Maggie', 'Bart', 'Lisa']

In [19]:
famille.remove("Lisa")

In [20]:
famille

['Milhouse', 'Maggie', 'Bart', 'Lisa']

La méthode `remove()` va supprimer le premier élément de la liste (ce qui est problématique s'il y en a plusieurs) qui correspond à l'élément passé en argument.

In [21]:
maliste = [8, 4, 2, 4, 7]

In [22]:
maliste

[8, 4, 2, 4, 7]

In [23]:
nb_tour=maliste.count(4)
print(nb_tour)

2

In [24]:
for k in range(nb_tour):
    maliste.remove(4)
print(maliste)

[8, 2, 7]

In [25]:
maliste.remove(4)
maliste

ValueError: list.remove(x): x not in list

### ...  par la fonction del() :
La fonction `del()` permet de supprimer un élément en donnant son indice.

In [26]:
maliste = [8, 4, 2, 5, 7]
del maliste[3]

In [27]:
maliste

[8, 4, 2, 7]

## Exercice 1 :
Ecrire une fonction `trouve(liste1,liste2)` qui renvoie **le premier nombre** qui est exactement à la même place dans la liste `liste1` et dans la liste `liste2` ou **-1** s'il n'existe pas. (les deux listes ont la même taille)

In [28]:
# écrire en dessous votre code puis testez le.
def trouve(liste1,liste2):
    '''La fonction prend en arguments deux listes d entiers de même taille
    et renvoie le premier entier situé au même rang dans les 2 listes ou -1 sinon'''
    taille=len(liste1)
    for k in range(taille):
        if liste1[k]==liste2[k]:
            return liste1[k]
    return -1

In [29]:
a = [8468, 4560, 3941, 3328, 7, 9910, 9208, 8400, 6502, 1076, 5921, 6720, 948, 9561, 7391, 7745, 9007, 9707, 4370, 9636, 5265, 2638, 8919, 7814, 5142, 1060, 6971, 4065, 4629, 4490, 2480, 9180, 5623, 6600, 1764, 9846, 7605, 8271, 4681, 2818, 832, 5280, 3170, 8965, 4332, 3198, 9454, 2025, 2373, 4067]
b = [9093, 2559, 9664, 8075, 4525, 5847, 67, 8932, 5049, 5241, 5886, 1393, 9413, 8872, 2560, 4636, 9004, 7586, 1461, 350, 2627, 2187, 7778, 8933, 351, 7097, 356, 4110, 1393, 4864, 1088, 3904, 5623, 8040, 7273, 1114, 4394, 4108, 7123, 8001, 5715, 7215, 7460, 5829, 9513, 1256, 4052, 1585, 1608, 3941]
assert trouve(a,b)==5623
assert trouve([1,2,3],[4,5,6])==-1

In [30]:
trouve(a,b)

5623

## Construction d'une liste d'éléments identiques

In [31]:
p = [0]*12

In [32]:
p

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Cette instruction est très utile pour initialiser des listes de taille donnée.

### Exemple
le code ci-dessous compte l'occurence de chaque lettre de l'alphabet dans un texte.

In [33]:
texte = "ce texte est prodigieusement ennuyeux"

def rang(lettre):
    return(ord(lettre)-97)

compt = [0]*26
for elt in texte :
    if elt != " " :
        compt[rang(elt)] += 1

In [34]:
compt

[0, 0, 1, 1, 9, 0, 1, 0, 2, 0, 0, 0, 1, 3, 1, 1, 0, 1, 2, 4, 3, 0, 0, 2, 1, 0]

## Construction d'une liste (méthode dite *par compréhension*)

In [35]:
nombres = [k for k in range(10)]

In [36]:
nombres

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Il est bien sûr possible d'agir sur le paramètre :

In [37]:
carres_parfaits = [k**2 for k in range(10)]

In [38]:
carres_parfaits

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Plus subtil, on peut filtrer "à la volée" les éléments pour n'en garder que certains.

In [39]:
c = [n for n in carres_parfaits if n % 3 == 0]

In [40]:
c

[0, 9, 36, 81]

### Exercice 2
En une ligne, créez la liste `p` qui contient tous les éléments positifs de `m`.

In [41]:
m = [-3, -6, 4, 7, -2, 1, -3, 5]

In [42]:
# écrire votre code en dessous :
p = [n for n in m if n>0]
print(p)

[4, 7, 1, 5]

## Un retour sur le problème de la copie de liste

In [43]:
a = [4, 5, 7]
b = a
a[0] = 12

Selon toute vraisemblance, la liste `a` est maintenant égale à `[12, 5, 7]`. 
Vérifions-le :

In [44]:
a

[12, 5, 7]

Tout est donc normal. Mais :

In [45]:
b

[12, 5, 7]

`b` est lui **aussi** devenu égal à `[12, 5, 7]`, alors que la modification sur l'élément `a[0]` n'a été faite qu'**après** l'affectation `b = a`.  
Les listes `a` et `b` sont en fait strictement et définitivement identiques, elles sont simplement deux dénominations différentes d'un même objet. 
On peut le vérifier en regardant l'emplacement-mémoire vers lequel pointent la variable `a` et la variable `b` :

In [46]:
id(a)

2261116950472

In [47]:
id(b)

2261116950472

## Comment copier le contenu d'une liste vers une autre
Parmi plusieurs solutions, celle-ci est simple et efficace :

In [48]:
a = [3, 4, 9]
b = a[:]
a[0] = 12

In [49]:
a

[12, 4, 9]

In [50]:
b

[3, 4, 9]

In [51]:
id(a)

2261116952200

In [52]:
id(b)

2261117079880

On vérifie ainsi que `a` et `b` pointent bien vers 2 objets différents.
Ne pas hésiter à tester de nouveau ces intsructions avec `pythontutor`

# Première approche avec les tableaux à plusieurs dimensions : listes de listes

In [53]:
a = [[3, 5, 2, 10],
     [7, 1, 4, 20], 
     [8, 6, 9, 30]]

La liste `a` est composée de 3 éléments qui sont eux-même des listes de 3 éléments.

In [54]:
a[0]

[3, 5, 2, 10]

In [55]:
a[0][1]

5

In [56]:
a[2][3]

30

Pour récupérer le nombre de lignes :

In [57]:
len(a)

3

Pour récupérer le nombre de colonnes :

In [58]:
len(a[0])

4

In [59]:
M=[[36, 19, 27, 36, 7, 10], [2, 18, 3, 33, 2, 21], [26, 27, 4, 22, 30, 31], [29, 36, 7, 20, 6, 30], [30, 6, 14, 23, 15, 13], [22, 10, 10, 35, 15, 22]]

Pour afficher plus proprement le tableau :

In [60]:
for index_ligne in range(len(M)):
    ligne=[]
    for index_col in range(len(M[0])):
        ligne.append(M[index_ligne][index_col])
    print(ligne)

[36, 19, 27, 36, 7, 10]
[2, 18, 3, 33, 2, 21]
[26, 27, 4, 22, 30, 31]
[29, 36, 7, 20, 6, 30]
[30, 6, 14, 23, 15, 13]
[22, 10, 10, 35, 15, 22]

Ou encore plus simplement en itérant sur les listes

In [61]:
for ligne in M:
    print(ligne)

[36, 19, 27, 36, 7, 10]
[2, 18, 3, 33, 2, 21]
[26, 27, 4, 22, 30, 31]
[29, 36, 7, 20, 6, 30]
[30, 6, 14, 23, 15, 13]
[22, 10, 10, 35, 15, 22]

### Exercice 3 : écrire en dessous un script qui affiche uniquement la 3ème colonne du tableau `M`

In [62]:
for ligne in M:
    print(ligne[2])

27
3
4
7
14
10